# ignore these files #

### App #######################################################################

public/*
!public/.keep

.env*
!.env.example
docker-compose.override.yml

docs/_build/
node_modules/
docker-couchdb/
output*/
backend/server/config-host/
server/log/
config/*-personal.json
config/*-demo.json
config/personal-*/
server/config/local*.json
*.pyc
bulk-update-file.json
last-commit-hash.txt
next.txt
*.html
