/* add styles here */
h1.title {
    display: inline;
    margin-bottom: 0;
}

h2 {
  margin: 0;
}

#profile {
}

#profile .navigation-view {
    display: inline;
    float: right;
    text-align: right;
}
#profile .navigation-view ul {
  margin: 2px 4px;
  padding: 2px;
}

#profile .navigation-view li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#items {
}

#sidebar {
}

#items ul {
  padding: 0;
}

#items li {
  margin:4px 0;
}

#items li:hover {
  background-color: cyan;
  color: white;
  cursor: pointer;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

#items ul {
  list-style: none;
}

.tagcloud li.tag,
.tagcloud .tagheader,
.availablereportlist li.availablereport,
.availablereportlist .availablereportheader {
    cursor: pointer;
}

.tagcloud li.tag.selected,
.availablereportlist li.availablereport.selected {
    font-weight: bold;
}

.tagcloudchangercontrols {
  font-size: smaller;
  text-align: center;
}

.spine-view span.del {
    float: right;
}

/* book view */
.book .header h2 {
    float: left;
}

.book .menu {
    text-align: right;
}

.bookinfo {
    clear: both;
}

.bookinfo > table {
    float: left;
}

.bookinfo table tr td:first-child {
    text-align: right;
}

.bookinfo .title {
    font-weight: bold;
}

.bookinfo .tags .value {
    background-color: silver;
}

.bookinfo .complex.notesPublic textarea,
.bookinfo .complex.notesPrivate textarea,
.bookinfo .title input {
    width: 100%;
}

.bookinfo .activities {
    float: right;
    position: relative;
    top: 0px;
}

.bookinfo .activities table tr:nth-child(2n) {
    background-color: silver;
}
/* end book view */

/* edit book view */
.editBook .menu {
    clear: both;
}

div#dialogStatusRead {
    display: none;
}
