<div data-role="header">
    <h1>simpleshelf</h1>
</div>
<div role="main" class="ui-content">
    <h2>Log in</h2>
    <form class="login-form">
        <input type="text" data-clear-btn="true" name="login-username" id="login-username" value="" placeholder="User name">

        <input type="password" data-clear-btn="true" name="login-password" id="login-password" value="" autocomplete="off" placeholder="Password">

        <input type="button" value="Log in" name="login-action" id="login-action">
    </form>
</div>
