<div data-role="header">
    <h1>simpleshelf</h1>
</div>
<div role="main" class="ui-content">
    <h3 class="ui-bar ui-bar-a ui-corner-all">Reading</h3>
    <div class="ui-body">
    </div>
    <ul data-role="listview" data-count-theme="b" data-inset="true">
        <li><a href="#">Books <span class="ui-li-count">0</span></a></li>
        <li><a href="#">Authors <span class="ui-li-count">0</span></a></li>
        <li><a href="#">Tags <span class="ui-li-count">0</span></a></li>
    </ul>
    <a href="#" id="main-add-book" class="ui-btn ui-icon-plus ui-btn-icon-left">Add book</a>
</div>
