<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Title</div>
    <div class="col-xs-12 col-md-9"><strong>{{{title}}}</strong></div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">ISBN</div>
    <div class="col-xs-12 col-md-9">{{isbn}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">{{#if _multipleAuthors}}Authors{{else}}Author{{/if}}</div>
    <div class="col-xs-12 col-md-9">{{#bootstrapBasicList authors}}{{/bootstrapBasicList}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Public</div>
    <div class="col-xs-12 col-md-9">{{#if public}}Yes{{else}}No{{/if}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Publisher</div>
    <div class="col-xs-12 col-md-9">{{publisher}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Notes (public)</div>
    <div class="col-xs-12 col-md-9">{{notesPublic}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Notes (private)</div>
    <div class="col-xs-12 col-md-9">{{notesPrivate}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Status</div>
    <div class="col-xs-12 col-md-9">{{#bootstrapBasicList _statusList}}{{statusKey}}: {{statusValue}}{{/bootstrapBasicList}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Tags</div>
    <div class="col-xs-12 col-md-9">{{#bookTags _tags}}{{/bookTags}}</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3 font-weight-bold">Activity</div>
    <div class="col-xs-12 col-md-9 activitiesViewContainer"></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="center-block">
            <button type="button" class="btn btn-primary edit-this m-b-1">Edit this book</button>&nbsp;
            <button type="button" class="btn btn-primary add-another m-b-1">Add another book</button>&nbsp;
            <button type="button" class="btn btn-warning delete-this m-b-1">Delete this book</button>
        </div>
    </div>
</div>
