<div class="row">
    <div class="col-xs-12">
        <form class="editbook-form">
            <fieldset class="form-group">
                <label for="editbookTitle">Title</label>
                <input type="text" class="form-control" name="editbookTitle" placeholder="Title">
            </fieldset>

            <fieldset class="form-group">
                <label for="editbookAuthors">Author(s)</label>
                <textarea class="form-control" name="editbookAuthors" rows="3"></textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="editbookISBN">ISBN</label>
                <input type="text" class="form-control" name="editbookISBN" placeholder="ISBN">
            </fieldset>

            <fieldset class="form-group">
                <label for="editbookPublisher">Publisher</label>
                <input type="text" class="form-control" name="editbookPublisher" placeholder="Publisher">
            </fieldset>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="editbookPublic" value="on">Public?
                </label>
            </div>

            <fieldset class="form-group">
                <label for="editbookNotesPublic">Public notes</label>
                <textarea class="form-control" name="editbookNotesPublic" rows="3"></textarea>
            </fieldset>

            <fieldset class="form-group">
                <label for="editbookNotesPrivate">Private notes</label>
                <textarea class="form-control" name="editbookNotesPrivate" rows="3"></textarea>
            </fieldset>

            <div class="row {{#unless hasRead}}hidden-xs-up{{/unless}}">
                <fieldset class="form-group col-xs-6">
                    <label for="editbookRead">Read</label>
                    <select class="form-control" name="editbookRead" id="editbookRead">
                        <option value=""></option>
                        {{#each statusRead}}
                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                        {{/each}}
                    </select>
                </fieldset>
                
                <fieldset class="form-group col-xs-6">
                    <label for="editbookReadDate">As of</label>
                    <input type="text" class="form-control" name="editbookReadDate" data-provide="datepicker" data-date-assume-nearby-year="true" data-date-format="yyyy-mm-dd" data-date-disable-touch-keyboard="true" data-date-enable-on-readonly="false" data-date-today-btn="linked" data-date-today-highlight="true" placeholder="yyyy-mm-dd" readonly>
                </fieldset>
            </div>

            <fieldset class="form-group {{#unless hasOwnership}}hidden-xs-up{{/unless}}">
                <label for="editbookOwnership">Ownership</label>
                <select class="form-control" id="editbookOwnership">
                    <option value=""></option>
                    {{#each statusOwnership}}
                    <option value="{{this.[0]}}">{{this.[1]}}</option>
                    {{/each}}
                </select>
            </fieldset>

            <button type="submit" class="btn btn-primary btn-lg" name="editbookSubmit">Submit</button>&nbsp;<button class="btn btn-secondary btn-lg editbook-cancel">Cancel</button>
        </form>
    </div>
</div>
