<div class="row mt-md-2">
    <div class="col-12 col-md-8">
        <form class="editbook-form">
            <fieldset class="row form-group">
                <label for="editbookTitle" class="col-12 col-md-2">Title</label>
                <div class="col-12 col-md-10"><input type="text" class="form-control" name="editbookTitle" placeholder="Title" value="{{title}}"></div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="editbookAuthors" class="col-12 col-md-2">Author(s)</label>
                <div class="col-12 col-md-10"><textarea class="form-control" name="editbookAuthors" rows="3">{{authors}}</textarea></div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="editbookISBN" class="col-12 col-md-2">ISBN</label>
                <div class="col-12 col-md-10"><input type="text" class="form-control" name="editbookISBN" placeholder="ISBN" value="{{isbn}}"></div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="editbookPublisher" class="col-12 col-md-2">Publisher</label>
                <div class="col-12 col-md-10"><input type="text" class="form-control" name="editbookPublisher" placeholder="Publisher" value="{{publisher}}"></div>
            </fieldset>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="editbookPublic" class="form-check-input" value="on" {{#if public}}checked{{/if}}>Public?
                </label>
            </div>

            <div class="taginputparent">
                
            </div>

            <fieldset class="form-group row">
                <label for="editbookNotesPublic" class="col-12 col-md-2">Public notes</label>
                <div class="col-12 col-md-10"><textarea class="form-control" name="editbookNotesPublic" rows="3">{{notesPublic}}</textarea></div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="editbookNotesPrivate" class="col-12 col-md-2">Private notes</label>
                <div class="col-12 col-md-10"><textarea class="form-control" name="editbookNotesPrivate" rows="3">{{notesPrivate}}</textarea></div>
            </fieldset>

            <div class="row {{#unless hasRead}}hidden-up{{/unless}}">
                <fieldset class="form-group col-6">
                    <label for="editbookRead">Read</label>
                    <select class="form-control" name="editbookRead" id="editbookRead">
                        <option value=""></option>
                        {{#each statusRead}}
                        <option value="{{this.[0]}}" {{#compare ../status.read this.[0]}}selected{{/compare}}>{{this.[1]}}</option>
                        {{/each}}
                    </select>
                </fieldset>
                
                <fieldset class="form-group col-6">
                    <label for="editbookReadDate">As of</label>
                    <input type="text" class="form-control" name="editbookReadDate" data-provide="datepicker" data-date-assume-nearby-year="true" data-date-format="yyyy-mm-dd" data-date-disable-touch-keyboard="true" data-date-enable-on-readonly="false" data-date-today-btn="linked" data-date-today-highlight="true" placeholder="yyyy-mm-dd" readonly>
                </fieldset>
            </div>

            <fieldset class="row form-group {{#unless hasOwnership}}hidden-up{{/unless}}">
                <label for="editbookOwnership" class="col-12 col-md-2">Ownership</label>
                <div class="col-12 col-md-10">
                    <select class="form-control" name="editbookOwnership" id="editbookOwnership">
                        <option value=""></option>
                        {{#each statusOwnership}}
                        <option value="{{this.[0]}}" {{#compare ../status.ownership this.[0]}}selected{{/compare}}>{{this.[1]}}</option>
                        {{/each}}
                    </select>
                </div>
            </fieldset>

            <div class="row justify-content-center mb-2 mb-md-1">
                <div class="col col-auto">
                    <button type="submit" class="btn btn-primary btn-lg" name="editbookSubmit">Submit</button>
                </div>
                <div class="col col-auto">
                    <button class="btn btn-secondary btn-lg editbook-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
