<div class="col-xs-12 col-md-6">
    <h2>Log in</h2>
    <form class="login-form">
        <fieldset class="form-group">
            <label for="loginUsername">User name</label>
            <input type="text" class="form-control" name="loginUsername" id="loginUsername" value="" placeholder="User name">
        </fieldset>

        <fieldset class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password" autocomplete="off">
        </fieldset>
        <button type="submit" class="btn btn-primary" name="loginAction" id="loginAction">Log in</button>
    </form>
</div>
