<div class="row">
    <div class="col-xs-12 col-md-4">
        <h3>Reading <span class="label label-info pull-xs-right">{{currentlyReadingCount}}</span></h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{#if currentlyReadingCount}}
        <ul>
            {{#each currentBooks}}
            <li><a href="#books/{{this.id}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
        {{else}}
        <p>Currently reading no books.</p>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="list-group">
            <a class="list-group-item" href="#books">Books <span class="label label-info pull-xs-right">{{bookCount}}</span></a>
            <a class="list-group-item" href="#authors">Authors <span class="label label-info pull-xs-right">{{authorCount}}</span></a>
            <a class="list-group-item" href="#tags">Tags <span class="label label-info pull-xs-right">{{tagCount}}</span></a>
        </div>
    </div>
</div>

<div class="row m-t-1">
    <div class="col-xs-12 col-md-4">
        <div class="list-group">
            <div class="list-group-item">
                <h4 class="list-group-item-heading text-xs-center">Stats</h4>
            </div>
            <div class="list-group-item" title="{{readingRecordsAvgExplanation}}">Average reading time (days) <span class="label label-info pull-xs-right">{{avgReadingTime}}</span>
            </div>
        </div>
    </div>
</div>

<div class="row m-t-1 m-b-1">
    <div class="col-xs-12 col-md-4">
        <a href="#addbook" role="button" class="btn btn-primary-outline btn-block">Add book</a>
    </div>
</div>
