<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#" id="navbarBrand"><span class="d-none d-lg-inline">simpleshelf</span><img src="../img/open-book-grey.svg" height="40" class="d-lg-none d-inline">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item menu-item-books">
                <a class="nav-link" href="#books">Books</a>
            </li>
            <li class="nav-item menu-item-authors">
                <a class="nav-link disabled" href="#authors">Authors</a>
            </li>
            <li class="nav-item menu-item-tags">
                <a class="nav-link disabled" href="#tags">Tags</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#addbook">Add a book</a>
                    <a class="dropdown-item" href="#">View simpleshelf version</a>
                </div>
          </li>
      </ul>
    </div>
</nav>
